/* *************
Design parameters
**************** */

/* 
****************
Font sizes
Main Heading: 30px
Sub-heading: 20px
Paragraph: 15px

*************
Brand Colors
Cyan: #0c8599


*/

/* Universal CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* *****************
TEMPLATES FOR REUSE
******************** */

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.hide {
  display: none;
}

/* ******************
HEADING SECTION
********************* */

.header {
  padding: 2.5rem 2.5rem;
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
}

.logo {
  width: 10%;
}

header a,
header ul {
  text-decoration: none;
  list-style: none;
}

.main-nav-list {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.mobile-nav-icon {
  display: none;
}

.main-nav-link {
  font-size: 1.5rem;
  font-family: quicksand, sans-serif;
  font-weight: 500;
  color: black;
}

.main-nav-link:hover {
  color: #2196f3;
}

.nav-cta {
  border: none;
  border-radius: 3px;
  padding: 1rem 2rem;
  background-color: #2196f3;
  color: #fff;

  transition: all 0.3s;
}

.nav-cta:hover {
  background-color: #fff;
  color: #2196f3;
  box-shadow: 0 0 0 1px #2196f3;
}

/* ******************
HERO SECTION
********************* */
.section-hero {
  display: grid;
  justify-content: space-between;
  /* gap: 2rem; */
  margin: 5rem auto;
}

.hero-content-box {
  text-align: left;
  width: 80%;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  font-family: quicksand, sans-serif;
  font-weight: 500;
}

.hero-paragraph {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: quicksand, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.hero-cta-btn {
  margin-bottom: 1.5rem;
  font-family: quicksand, sans-serif;
  font-weight: 500;

  padding: 1rem 2rem;
  font-size: 1.6rem;

  border: 2px solid black;
  background-color: white;
  border-color: #2196f3;
  color: dodgerblue;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.hero-cta-btn:hover {
  margin-bottom: 1.5rem;
  font-family: quicksand, sans-serif;
  font-weight: 500;

  padding: 1rem 2rem;
  font-size: 1.6rem;

  border: 2px solid black;
  background-color: #2196f3;
  border-color: #2196f3;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.hero-testimonial {
  width: 80%;
  font-style: italic;
  font-size: 1.2rem;
  font-family: quicksand, sans-serif;
  font-weight: 600;
}

.hero-img {
  width: 70%;
}

/* ******************
ABOUT SECTION
********************* */
.about-section {
  background-color: #fafafa;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: 9rem;
}

.about-title-box {
  margin-bottom: 4rem;
}

.about-heading {
  font-size: 2.5rem;
  font-family: quicksand, sans-serif;
  text-align: center;
  margin-bottom: 2rem;
}

.center-sep-line {
  border-top: 3px solid #0c8599;
  width: 10%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.about-paragraph {
  font-size: 1.8rem;
  font-family: quicksand, sans-serif;
  text-align: center;
  margin-bottom: 2rem;
  width: 40%;
  margin: 0 auto;
}

.to-from-boxes {
  display: flex;

  gap: 10rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.about-box-heading {
  font-size: 1.5rem;
  font-family: quicksand, sans-serif;
  margin-bottom: 2rem;
}

.box-example-list {
  list-style: none;
}

.icon-table-bad {
  color: red;
  margin: 0 0.5rem;
}

.icon-table-good {
  color: rgb(0, 151, 58);
  margin: 0 0.5rem;
}
.compare-box-list-item {
  font-size: 1.6rem;
  font-family: quicksand, sans-serif;
  margin: 0.5rem 0;
}

/* ******************
HOW IT WORKS SECTION
********************* */

.how-it-works-section {
  margin-bottom: 5rem;
}

.hiw-heading-box {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.hiw-heading-text {
  font-size: 2rem;
  font-family: quicksand, sans-serif;
  margin-bottom: 1rem;
}

.hiw-paragraph {
  font-size: 1.5rem;
  font-family: quicksand, sans-serif;
  width: 40%;
}

.hiw-heading-line {
  border-top: 3px solid #0c8599;
  width: 10%;
  text-align: left;
  margin-bottom: 2rem;
}

.hiw-steps {
  display: grid;
  margin-bottom: 4rem;
}

.step-icons {
  display: block;
  margin: 0 auto;
  width: 40%;
  margin-bottom: 2rem;
}

.hiw-steps-title {
  font-size: 1.4rem;
  font-family: quicksand, sans-serif;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 1 rem;
}

.hiw-steps-paragraph {
  font-size: 1.5rem;
  font-family: quicksand, sans-serif;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

/* .hiw-cta-link {
  text-decoration: none;
  color: dodgerblue;
} */

.hiw-cta {
  display: block;
  margin-bottom: 1.5rem;
  font-family: quicksand, sans-serif;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  margin: 0 auto;
  border: 2px solid black;
  background-color: white;
  border-color: #2196f3;
  color: dodgerblue;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.hiw-cta:hover {
  background-color: #2196f3;
  color: #fff;
}

/* ******************
FEATURES SECTION
********************* */

.features-section {
  background-color: #fafafa;
  padding: 4rem 0;
}

.feature-title {
  font-size: 2rem;
  font-family: quicksand, sans-serif;
  margin-bottom: 1rem;
}

.gmail-sync-feature {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  max-width: 120rem;
  padding: 0 8.2rem;
  gap: 20rem;
  margin-bottom: 5rem;
}

.gmail-sync-icon {
  font-size: 20rem;
  gap: 2rem;
  color: #2196f3;
}

.features-paragraph {
  font-size: 1.5rem;
  font-family: quicksand, sans-serif;
  text-align: left;
  line-height: 1.5;
}

.task-group-feature {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  max-width: 120rem;
  padding: 0 8.2rem;
  gap: 20rem;
}

.task-group-icon {
  font-size: 20rem;
  gap: 2rem;
  color: #2196f3;
}

.progress-tracker-feature {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  max-width: 120rem;
  padding: 0 8.2rem;
  gap: 20rem;
}

.progress-tracker-icon {
  font-size: 20rem;
  gap: 2rem;
  color: #2196f3;
}

/* ******************
PRICING SECTION
********************* */
.pricing-section {
  margin: 5rem 0;
}

.pricing-title {
  font-size: 3rem;
  font-family: quicksand, sans-serif;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 400;
}

.pricing-paragraph {
  font-size: 2rem;
  font-family: quicksand, sans-serif;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.pricing-cta {
  display: block;
  margin-bottom: 1.5rem;
  font-family: quicksand, sans-serif;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  margin: 0 auto;
  border: 2px solid black;
  background-color: white;
  border-color: #2196f3;
  color: dodgerblue;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.pricing-cta:hover {
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}

/* ******************
BLOG CONTENT SECTION
********************* */

.blog-content-section {
  margin-top: 5rem;
}

.pricing-content-box {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.blog-section-title {
  font-size: 2rem;
  font-family: quicksand, sans-serif;
  margin-bottom: 1rem;
  text-align: left;
}

.blog-section-paragraph {
  font-size: 1.4rem;
  font-family: quicksand, sans-serif;
  text-align: left;
}
/* Push down */
.extra-space {
  margin-bottom: 100rem;
}

/* ******************
FOOTER SECTION
********************* */
.footer-section {
  margin-top: 5rem;
  background-color: #1d3557;
  padding: 3rem 0;
}

.footer-line {
  border-top: 1px solid rgba(250, 250, 250, 0.116);
  margin-bottom: 4rem;
  width: 80%;
  margin: 0 auto;
}

.footer-img-box {
  margin-bottom: 3rem;
  display: flex;

  align-items: center;

  justify-content: end;
}

.footer-contact-btn {
  padding: 1rem 2rem;
  white-space: nowrap;
  text-align: center;
  color: rgb(184, 184, 184);
  background-color: #3670c2;
  border: 0;
  font-size: 1.3rem;
  padding: 1rem 2rem;
  font-family: quicksand, sans-serif;
  font-weight: 400;
  transition: all 0.3s;
}

.footer-contact-btn:hover {
  background-color: #4c81cc;
  cursor: pointer;
}

.footer-items {
  display: grid;
  grid-template-columns: 25% 25% 50%;
  padding-top: 4rem;
  padding-bottom: 4rem;

  /* background-color: #1e6091; */

  /* max-width: 120rem; */
  padding: 4rem 20rem;
  margin: 0 auto;
}

.footer-logo {
  width: 15%;
  filter: brightness(0) invert(1);
}

.footer-heading {
  font-size: 1.4rem;
  font-family: quicksand, sans-serif;
  margin-bottom: 1rem;
  color: rgb(184, 184, 184);
  font-weight: 600;
}

.footer-link-list {
  list-style: none;
}

.footer-link a {
  font-size: 1.3rem;
  font-family: quicksand, sans-serif;
  line-height: 1.8;
  text-decoration: none;
  cursor: pointer;
  color: rgb(184, 184, 184);

  transform: all 0.3s;
}

.footer-link a:hover {
  color: #2196f3;
  cursor: pointer;
  font-weight: 500;
}

.footer-email-heading {
  font-size: 1.8rem;
  font-family: quicksand, sans-serif;
  font-weight: 600;
  width: 80%;
  line-height: 1.5;
  color: rgb(184, 184, 184);
}

.footer-email-paragraph {
  font-size: 1.4rem;
  font-family: quicksand, sans-serif;
  line-height: 1.5;
  margin-bottom: 2rem;
  color: rgb(184, 184, 184);
}

.email-sub-form {
  vertical-align: middle;
}

.email-signup-box {
  display: flex;
}

.email-signup-btn {
  padding: 1rem 2rem;
  padding-bottom: 1.3rem;
  background-color: #2196f3;
  border: 0;
  color: #fff;
  font-size: 1.4rem;
  font-family: quicksand, sans-serif;
  align-items: center;
  justify-content: center;

  transition: all 0.1s;
}

.email-signup-btn:hover {
  cursor: pointer;
  font-weight: 600;
}

.footer-email-box {
  border: 0;
  background-color: #ced4da;
  /* padding: 1.1rem; */
  padding: 1.2rem 1rem;
  align-items: center;
  justify-content: center;
}

/* The final part of the footer where social & copyright info is */

.footer-bottom-line {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.copywright-text {
  font-size: 1.4rem;
  font-family: quicksand, sans-serif;
  color: rgb(184, 184, 184);
}

.footer-social-links-list {
  display: flex;
  gap: 1rem;
  list-style: none;
  text-decoration: none;
  color: #fff;
}

.footer-social-link-icon {
  color: #fff;
  font-size: 2rem;

  transition: all 0.3s;
}

.footer-social-link-icon:hover {
  color: #2196f3;
}
